body {
  margin: 0;
  font-family: "Fira Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.cube {
  margin: 1em;
  margin-bottom: 3em;
  max-width: 600px;
  font-size: 1em;
  line-height: 1.5em;
}

.mtgCardViewer a {
  font-weight: bold;
  font-style: italic;
}

a,
a:visited,
a:active {
  color: #000;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 26pt;
}

h3 {
  font-size: 20pt;
}
